.arrow__clas{
    color: rgb(214, 215, 216);
    cursor: pointer;
    border: 1px solid rgb(214, 215, 216);
    border-radius: 50%;
    margin: .4rem;
}

.arrow__clas:hover{
    color: #f9fbfc;
    background-color: #f87141;
    border-radius: 50%;
    border: none;
}
/*#f8d280


/*--------------------------------------------------------------
#  latest blog Section
--------------------------------------------------------------*/


.border-rad-spam{
  border-radius: 5px;
}

/*styles probe*/
.prueba {
    background: #0c0c0c;
}



