.prueba{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    padding: auto;
}

.arrow__clas{
    color: rgb(214, 215, 216);
    cursor: pointer;
    border: 1px solid rgb(214, 215, 216);
    border-radius: 50%;
    margin: .4rem;
}

.arrow__clas:hover{
    color: #f9fbfc;
    background-color: rgb(248, 113, 65);
    border-radius: 50%;
    border: none;
}
/*#f8d280