.arrow__clas{
    color: rgb(214, 215, 216);
    cursor: pointer;
    border: 1px solid rgb(214, 215, 216);
    border-radius: 50%;
    margin: .4rem;
}

.arrow__clas:hover{
    color: #f9fbfc;
    background-color: #f87141;
    border-radius: 50%;
    border: none;
}
/*#f8d280


/*--------------------------------------------------------------
#  latest blog Section
--------------------------------------------------------------*/


.border-rad-spam{
  border-radius: 5px;
}

/*

<div
                    class="pt-5 text-center d-flex justify-content-between"
                    style="border-top: 1px solid rgb(116, 114, 114);">
                    <div class="row text-start"><p
                            class="mb-0 text-secondary fs--1 fw-medium">All
                            rights
                            2023
                        </p></div>
                    <div class="row ps-6"><p
                            class="mb-0 text-secondary fs--1 fw-medium">All
                            rights
                            2023
                        </p></div>

                </div>*/


